.custom-tbody {
    text-align: center;
    background-color: #aab4bb;
}

.custom-tbody td {
    font-size: 16px;
}

.custom-tbody .product-id,
.custom-tbody .product-name {
    font-weight: bold;
}

.custom-tbody .product-quantity {
    font-weight: bold;
}
.custom-thead {
    background-color: #001C30;
    color: #fff;
}

